version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: monitor_portal_db
      MYSQL_USER: monitor_user
      MYSQL_PASSWORD: monitor_password
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    build: ./backend
    restart: always
    command: >
      sh -c "python manage.py collectstatic --noinput &&
             python manage.py migrate --noinput &&
             gunicorn --bind 0.0.0.0:8000 config.wsgi:application"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    environment:
      # Database settings must match 'db' service credentials
      DB_ENGINE: django.db.backends.mysql
      DB_NAME: monitor_portal_db
      DB_USER: monitor_user
      DB_PASSWORD: monitor_password
      DB_HOST: db
      DB_PORT: 3306
      # Other settings
      DEBUG: 'False'
      CORS_ALLOW_ALL_ORIGINS: 'False'
      ALLOWED_HOSTS: 'backendmbinfrawatch.marketbytes.in,localhost,127.0.0.1' # Change this to your domain in production
      CORS_ALLOWED_ORIGINS: 'http://mbinfrawatch.marketbytes.in,https://mbinfrawatch.marketbytes.in'
      CSRF_TRUSTED_ORIGINS: 'http://mbinfrawatch.marketbytes.in,https://mbinfrawatch.marketbytes.in'
      SECRET_KEY: 'change-me-in-production-please-use-strong-key'
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://backendmbinfrawatch.marketbytes.in
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media

volumes:
  db_data:
  static_volume:
  media_volume:
