version: '3.9'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: monitor_portal_db
      MYSQL_USER: monitor_user
      MYSQL_PASSWORD: monitor_password
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./backend
    restart: always
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - ./backend/.env
    depends_on:
      - db
    ports:
      - "6300:8000"

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: https://backendmbinfrawatch.marketbytes.in
    restart: always
    depends_on:
      - backend
    ports:
      - "6301:80"

volumes:
  mysql_data:
  static_volume:
  media_volume:
