# Security
DEBUG=False
SECRET_KEY=your-production-secret-key
ALLOWED_HOSTS=backendmbinfrawatch.marketbytes.in
CSRF_TRUSTED_ORIGINS=https://backendmbinfrawatch.marketbytes.in,https://mbinfrawatch.marketbytes.in
CORS_ALLOWED_ORIGINS=https://mbinfrawatch.marketbytes.in

# Database
DB_ENGINE=django.db.backends.mysql
DB_NAME=monitor_portal_db
DB_USER=monitor_user
DB_PASSWORD=your-secure-password
DB_HOST=db
DB_PORT=3306

# Email Settings
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Monitoring Settings
PULSE_AGENT_INTERVAL=60
